In [1]:

import fillingpatterns as fp

fname = '25ns_2760b_2748_2492_2574_288bpi_13inj_800ns_bs200ns.csv'
# fname = '25ns_2744b_2736_2246_2370_240bpi_13inj_800ns_bs200ns_BCMS_5x48b.csv'
# fname = '8b4e_1972b_1960_1178_1886_224bpi_12inj_800ns_bs200ns.csv'

# Load filling pattern

patt = fp.FillingPattern.from_csv(fname)

# Compute bb schedule
patt.compute_beam_beam_schedule(n_lr_per_side=16, previous = 0)

Computing collision schedules...
Done

In [2]:
patt.b1.bb_schedule

,# of LR in ATLAS/CMS,HO partner in ATLAS/CMS,BB partners in ATLAS/CMS,Positions in ATLAS/CMS,# of LR in LHCB,HO partner in LHCB,BB partners in LHCB,Positions in LHCB,# of LR in ALICE,HO partner in ALICE,BB partners in ALICE,Positions in ALICE,collides in ATLAS/CMS,collides in ALICE,collides in LHCB
26,12.0,NaN,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-12.0, -11.0, -10.0, -9.0, -8.0, -7.0, -6.0, ...",25.0,2696.0,"[2680.0, 2681.0, 2682.0, 2683.0, 2691.0, 2692....","[-16.0, -15.0, -14.0, -13.0, -5.0, -4.0, -3.0,...",30.0,917.0,"[903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909...","[-14.0, -13.0, -12.0, -11.0, -10.0, -9.0, -8.0...",False,True,True
27,12.0,NaN,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-13.0, -12.0, -11.0, -10.0, -9.0, -8.0, -7.0,...",25.0,2697.0,"[2681.0, 2682.0, 2683.0, 2691.0, 2692.0, 2693....","[-16.0, -15.0, -14.0, -6.0, -5.0, -4.0, -3.0, ...",31.0,918.0,"[903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909...","[-15.0, -14.0, -13.0, -12.0, -11.0, -10.0, -9....",False,True,True
28,12.0,NaN,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-14.0, -13.0, -12.0, -11.0, -10.0, -9.0, -8.0...",25.0,2698.0,"[2682.0, 2683.0, 2691.0, 2692.0, 2693.0, 2694....","[-16.0, -15.0, -7.0, -6.0, -5.0, -4.0, -3.0, -...",32.0,919.0,"[903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",False,True,True
29,12.0,NaN,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-15.0, -14.0, -13.0, -12.0, -11.0, -10.0, -9....",25.0,2699.0,"[2683.0, 2691.0, 2692.0, 2693.0, 2694.0, 2695....","[-16.0, -8.0, -7.0, -6.0, -5.0, -4.0, -3.0, -2...",32.0,920.0,"[904.0, 905.0, 906.0, 907.0, 908.0, 909.0, 910...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",False,True,True
30,12.0,NaN,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",25.0,2700.0,"[2691.0, 2692.0, 2693.0, 2694.0, 2695.0, 2696....","[-9.0, -8.0, -7.0, -6.0, -5.0, -4.0, -3.0, -2....",32.0,921.0,"[905.0, 906.0, 907.0, 908.0, 909.0, 910.0, 911...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,20.0,3438.0,"[3422.0, 3423.0, 3424.0, 3425.0, 3426.0, 3427....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",20.0,2544.0,"[2528.0, 2529.0, 2530.0, 2531.0, 2532.0, 2533....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",12.0,NaN,"[749.0, 750.0, 751.0, 752.0, 753.0, 754.0, 755...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3439,19.0,3439.0,"[3423.0, 3424.0, 3425.0, 3426.0, 3427.0, 3428....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",19.0,2545.0,"[2529.0, 2530.0, 2531.0, 2532.0, 2533.0, 2534....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",11.0,NaN,"[750.0, 751.0, 752.0, 753.0, 754.0, 755.0, 756...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3440,18.0,3440.0,"[3424.0, 3425.0, 3426.0, 3427.0, 3428.0, 3429....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",18.0,2546.0,"[2530.0, 2531.0, 2532.0, 2533.0, 2534.0, 2535....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",10.0,NaN,"[751.0, 752.0, 753.0, 754.0, 755.0, 756.0, 757...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3441,17.0,3441.0,"[3425.0, 3426.0, 3427.0, 3428.0, 3429.0, 3430....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",17.0,2547.0,"[2531.0, 2532.0, 2533.0, 2534.0, 2535.0, 2536....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",9.0,NaN,"[752.0, 753.0, 754.0, 755.0, 756.0, 757.0, 758...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3442,16.0,3442.0,"[3426.0, 3427.0, 3428.0, 3429.0, 3430.0, 3431....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",16.0,2548.0,"[2532.0, 2533.0, 2534.0, 2535.0, 2536.0, 2537....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",8.0,NaN,"[753.0, 754.0, 755.0, 756.0, 757.0, 758.0, 759...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True

In [3]:
patt2 = fp.FillingPattern.from_csv(fname)

# Compute bb schedule
patt2.compute_beam_beam_schedule(n_lr_per_side=16, previous = 1)

Computing collision schedules...
Done Beam 1
Done Beam 2

In [4]:
patt2.b1.bb_schedule

,HO partner in ALICE,# of LR in ALICE,BB partners in ALICE,Positions in ALICE,HO partner in ATLAS/CMS,# of LR in ATLAS/CMS,BB partners in ATLAS/CMS,Positions in ATLAS/CMS,HO partner in LHCB,# of LR in LHCB,BB partners in LHCB,Positions in LHCB,collides in ATLAS/CMS,collides in ALICE,collides in LHCB
26,917.0,30,"[903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909...","[-14.0, -13.0, -12.0, -11.0, -10.0, -9.0, -8.0...",NaN,12,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-12.0, -11.0, -10.0, -9.0, -8.0, -7.0, -6.0, ...",2696.0,25,"[2680.0, 2681.0, 2682.0, 2683.0, 2691.0, 2692....","[-16.0, -15.0, -14.0, -13.0, -5.0, -4.0, -3.0,...",False,True,True
27,918.0,31,"[903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909...","[-15.0, -14.0, -13.0, -12.0, -11.0, -10.0, -9....",NaN,12,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-13.0, -12.0, -11.0, -10.0, -9.0, -8.0, -7.0,...",2697.0,25,"[2681.0, 2682.0, 2683.0, 2691.0, 2692.0, 2693....","[-16.0, -15.0, -14.0, -6.0, -5.0, -4.0, -3.0, ...",False,True,True
28,919.0,32,"[903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",NaN,12,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-14.0, -13.0, -12.0, -11.0, -10.0, -9.0, -8.0...",2698.0,25,"[2682.0, 2683.0, 2691.0, 2692.0, 2693.0, 2694....","[-16.0, -15.0, -7.0, -6.0, -5.0, -4.0, -3.0, -...",False,True,True
29,920.0,32,"[904.0, 905.0, 906.0, 907.0, 908.0, 909.0, 910...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",NaN,12,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-15.0, -14.0, -13.0, -12.0, -11.0, -10.0, -9....",2699.0,25,"[2683.0, 2691.0, 2692.0, 2693.0, 2694.0, 2695....","[-16.0, -8.0, -7.0, -6.0, -5.0, -4.0, -3.0, -2...",False,True,True
30,921.0,32,"[905.0, 906.0, 907.0, 908.0, 909.0, 910.0, 911...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",NaN,12,"[14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",2700.0,25,"[2691.0, 2692.0, 2693.0, 2694.0, 2695.0, 2696....","[-9.0, -8.0, -7.0, -6.0, -5.0, -4.0, -3.0, -2....",False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,NaN,12,"[749.0, 750.0, 751.0, 752.0, 753.0, 754.0, 755...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",3438.0,20,"[3422.0, 3423.0, 3424.0, 3425.0, 3426.0, 3427....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",2544.0,20,"[2528.0, 2529.0, 2530.0, 2531.0, 2532.0, 2533....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3439,NaN,11,"[750.0, 751.0, 752.0, 753.0, 754.0, 755.0, 756...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",3439.0,19,"[3423.0, 3424.0, 3425.0, 3426.0, 3427.0, 3428....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",2545.0,19,"[2529.0, 2530.0, 2531.0, 2532.0, 2533.0, 2534....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3440,NaN,10,"[751.0, 752.0, 753.0, 754.0, 755.0, 756.0, 757...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",3440.0,18,"[3424.0, 3425.0, 3426.0, 3427.0, 3428.0, 3429....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",2546.0,18,"[2530.0, 2531.0, 2532.0, 2533.0, 2534.0, 2535....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3441,NaN,9,"[752.0, 753.0, 754.0, 755.0, 756.0, 757.0, 758...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",3441.0,17,"[3425.0, 3426.0, 3427.0, 3428.0, 3429.0, 3430....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",2547.0,17,"[2531.0, 2532.0, 2533.0, 2534.0, 2535.0, 2536....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True
3442,NaN,8,"[753.0, 754.0, 755.0, 756.0, 757.0, 758.0, 759...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",3442.0,16,"[3426.0, 3427.0, 3428.0, 3429.0, 3430.0, 3431....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",2548.0,16,"[2532.0, 2533.0, 2534.0, 2535.0, 2536.0, 2537....","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",True,False,True